.add-button {
    --background: #ffc796;
  
    --color: #99460a;
  
    --border-radius: 60px;
    --border-color: #f8b98b;
    --border-style: solid;
    --border-width: 0px;
  
    --box-shadow: 0 2px 6px 0 #f8b98b;

    margin: 3%;
  }