<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-beer</ion-title>
    <app-redirect-back slot="end" url="month/january"></app-redirect-back>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <ion-label>Nombre</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Fabricante</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>País</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Año</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Fecha de adquisición</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Fecha de consumición</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Color</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Estilo</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Descripción</ion-label>
  <ion-input fill="outline"> </ion-input>

  <ion-label>Puntuación</ion-label>
  <ion-input fill="outline"> </ion-input>

  <div id="saveButton">
    <ion-button shape="round">Guardar</ion-button>
  </div>
  

</ion-content>
