<ion-card>

  <ion-card-header>
    <ion-card-title>{{day}} {{month}}</ion-card-title>
    <ion-card-subtitle>{{places}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>Cerveza</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>Cerveza</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle>El Camino</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>Cerveza</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>

</ion-card>